.aa {
    font-size: 10px;
    color: #ffffff;
    line-height: 34px;
    text-align: center;


}

.aa1 {
    font-size: 14px;
    color: #000000;
    line-height: 45px;
    text-align: center;
    text-decoration: none;

}

        .row a{
            text-decoration: none;
        }
        .row a:hover{
            text-decoration: none;


        }
        .row a:active{
            text-decoration: none;
        }
.aa2 {
    font-size: 18px;
    line-height: 82px;
    text-align: center;
    margin-left: 240px;


}
.aaBanNa {
    line-height: 80px;
    text-align: center;
    margin-left: 70px;
}
